* {
  // border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font: 16px "Helvetica Neue", Arial, sans-serif;
  color: #121214;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
